body{
background-color: #7B68EE


}
        .container{
            width: 80%;
            margin: auto;
        

        }h1{
            text-align: center;
        }
        img{
            width: 100%;
        }
        figure{
            text-align: center;
        }
           

body {

    text-align: center;
}