body{
background-image: url("https://www.webradiohorizonte.com.br/admin/data/img/gallery/Bg/fundo-abstrato-colorido_23-2148807053.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}
        .container{
            width: 80%;
            margin: auto;
        }


        h1{
            text-align: center;
            color: aliceblue;
            font-weight: bold;
        }

        .img_corpo{
            width: 50%;
        }

        figure{
            text-align: center;
        }

        .img_topo{
            width: 100%;
        }
        p{
            font-size: 1.5em;
            color: cyan;
            font-weight: bold;
            text-indent: 50px;
            text-align: justify;



        }
           

body {

    text-align: center
    
}
