html {
    scroll-behavior: smooth;
}

body{
background-image: url(https://files.passeidireto.com/a14c5408-7b7e-4d8f-ab2b-170b646c64cf/a14c5408-7b7e-4d8f-ab2b-170b646c64cf.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
text-align: center;
}
header{
   padding: 2%;
   display: flex;
   flex-direction: column ;
   align-items: center;
   text-align: center;
  }
  .fixo{
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
  }
  .menu{
    background-color: rgb(128, 0, 0);
    padding: 0.3%;
    position: relative;
}
   .itens_menu{
    text-align: center;
    width: 100%;
}
ul li{
    color: #FFFF;
    font-size: 1.5em;
    padding: 1%;
    font-family: 'Roboto', sans-serif;
}
.itens_menu li{
    font-size: 1.3em;
    padding: 1%;
    margin: 0.5%;
    margin-bottom: 1%;
}
.itens_menu ul {
    list-style-type: none;
}

.banner{
    width: 100%;
    margin-right: 1%;
    padding-right: 1%;
}
.img_topo{
    width: 25%;
    margin: 5%;
    }
    .img_corpo{
        width: 50%;
        margin-top: 2%;
        margin-bottom: 2%;
        
        }
        .logo {
            text-align: center;
        }  
    
        .img_logo {
            width: 20%;
        }
        ul{
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }
        li{
            display: inline;
        }
        .itens_menu ul li{
            list-style-type: none;
           
          }
    .itens_menu a:link, .itens_menu a:visited  {
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
      }
    
    .itens_menu a:hover{
        background-color: #4F4F4F;
        padding: 0.8%;
    }
    
    .itens_menu a:active{
        color: black;
    }


    iframe {
        width: 60%;
        min-height: 20em;
    }

footer{
    background-color: purple;
    padding-top: 1%;
    padding-bottom: 1%;
}


.footer p{
    text-align: center;
    font-size: 1em;
}
 

.container{
     width: 80%;
     margin: auto;
 }



h1{
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
    z-index: -1000;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}
h1{
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
    
    font-family: 'Staatliches',cursive;
     }



figure{
     text-align: center;
    
     
     }

p{
        font-size: 1.3em;
        color: cyan;
        font-weight: bold;
        text-indent: 50px;
        text-align: justify;
        line-height: 1.5;
        font-family: 'Comfortaa',cursive;
    }

    table{
        width: 100%;
        border-collapse: collapse;
        color: #FFFFFF;
        margin-bottom: 2%;
    }
    tr{
        padding: 1%;
    }
    
    td{
        border: 2px groove;
        padding: 1%;
    }
    
    th{
        border: 2px groove;
        padding: 5px;
        width: 40em;
    }
    .row{
        padding: 1%;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .form{
        border-radius: 9px;
        background-color: #f2f2f2;
        padding: 3%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 10%;
        margin-right: 10%;
    }   
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        font-size: 1em;
        font-weight: bolder;
      }

#mais{
    text-decoration: none;
}
.center{
    text-align: center;
    
}

.direita{
    float: right;
    margin-left: 2%;
    width: 30%;

}
.esquerda{
    float: left;
    margin-right: 2%;
    width: 30%;


}


.botao{
    width: 100px;
    height: 40px;   
    background-color: rgba(128,128,128, 0.5);
    margin: auto; 
    padding: 1.5%;
    border-radius: 25px;
}

.botao p{
    text-indent: 0;
    text-align: center;
}
    

.botao a:link, .botao a:visited{
    color: black;

}

.botao:hover{
    background-color:#00FFFF;
}
.itens_menu a:link, .itens_menu a:visited  {
    color: #FFA07A;
    text-decoration: none;
    font-weight: bolder;
  }


audio{
    width: 80%;
}

audio::-webkit-media-controls-panel{ 
    background-color:#75ffbf !important; 
}

section{
    margin-top: 2%;
    margin-bottom: 2%;
}


input[type=text], input[type=tel], input[type=email], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #800000;
    border-radius: 6px;
    resize: vertical;
    background-color: #fff;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #800000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 4%;
}

input[type=submit]:hover {
    background-color: #FFFF00;
    color: #000000;
    border-color: #800000;
}


.container {
  border-radius: 5px;
 
  
  padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
 }
 .tell{
     width: 80%;

 }

  /* Altera configuração quando a tela for maior que 601 px*/
  @media screen and (min-width:601px) {

    header{
        background-color: #ffffff91;
        flex-direction: row;

    }    

    .hino{
        width: 20%;
    }
    